/******Global Styles******/

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    background: #393a41;

}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1,
h2,
h3 {
    padding: 0;
    font-weight: 400;
}

h4,
h5 {
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1em;
}

p:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 640px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1.25rem;
    }
}

a {
    text-decoration: none;
    color: #FFB179;
}

section {
    padding: 32px 0;
}

.seperator {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.05);
}

@media screen and (min-width: 640px) {
    section {
        padding: 80px 0;
    }
}

.text-block {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.quote {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.quote span {
    color: #FFB179;
}

@media screen and (min-width: 640px) {
    .text-block {
        margin-bottom: 64px;
    }
}

.button-container {
    text-align: center;
}

.button {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 4px;
    color: #34353C;
    background: #FFB179;
    border: solid 2px #FFB179;
    padding: 12px 20px;
    margin-top: 0.5rem;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.button:hover {
    color: #FFB179;
    background: #34353C;
}

@media screen and (min-width: 640px) {
    .button {
        font-size: 1.25rem;
    }
}

.no-margin {
    margin: 0 auto!important;
}


/******Navigation bar******/

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 16px 0;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 12px;
}

.navigation {
    display: flex;
    flex-grow: 1;
}

.nav-links {
    margin-left: auto;
}

.nav-links a {
    font-size: 1rem;
    color: #fff;
    padding: 16px 8px;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

@media screen and (min-width: 640px) {
    .nav-links a {
        font-size: 1.25rem;
        padding: 16px 24px;
    }
}

@media screen and (min-width: 1024px) {
    .nav-links a {
        font-size: 1.25rem;
        padding: 16px 32px;
    }
}

.nav-links a:hover {
    color: #ffb179;
}

.fixed {
    position: fixed;
    background: rgba(52, 53, 60, 0.8);
}

/******Intro******/

.intro-container {
    width: 100%;
    height: 60vh;
    margin-bottom: 32px
}

.intro {
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #FFB179;
}

.subtitle {
    font-size: 2rem;
    color: #78C5FF;
}

@media screen and (min-width: 640px) {
    .intro-container {
        margin-bottom: 80px;
    }
    
    
    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 2.5rem;
    }
}

/*Shapes*/

.shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    z-index: -1;
}

.square {
    width: 20px;
    height: 20px;
    border: solid 2px #78C5FF;
    -webkit-animation: spin-clockwise 5s linear infinite;
    animation: spin-clockwise 5s linear infinite;
}

.circle {
    width: 20px;
    height: 20px;
    border: solid 2px #FFB179;
    border-radius: 100%;
}

.triangle {
    position: relative;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 18px solid #9deb8f;
    -webkit-animation: spin-counter-clockwise 5s linear infinite;
    animation: spin-counter-clockwise 5s linear infinite;
}

.triangle:after {
    content: "";
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #34353C;
    top: 4px;
    left: -7px;
}

[class*="shape-"] {
    position: absolute;
}

.shape-1 {
    top: 30%;
    left: 8%;
}

.shape-2 {
    top: 21%;
    left: 22%;
}

.shape-3 {
    top: 26%;
    left: 45%;
}

.shape-4 {
    top: 18%;
    left: 62%;
}

.shape-5 {
    top: 25%;
    left: 85%;
}

.shape-6 {
    top: 55%;
    left: 85%;
}

.shape-7 {
    top: 76%;
    left: 74%;
}

.shape-8 {
    top: 85%;
    left: 62%;
}

.shape-9 {
    top: 78%;
    left: 26%;
}

.shape-10 {
    top: 63%;
    left: 12%;
}

.shape-11 {
    top: 75%;
    left: 46%;
}

.shape-12 {
    top: 50%;
    left: 25%;
}

.shape-13 {
    top: 95%;
    left: 37%;
}

.shape-14 {
    top: 92%;
    left: 15%;
}

.shape-15 {
    top: 15%;
    left: 34%;
}

.shape-16 {
    top: 35%;
    left: 74%;
}

.shape-17 {
    top: 95%;
    left: 85%;
}

.shape-18 {
    top: 98%;
    left: 53%;
}

@-webkit-keyframes spin-clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-counter-clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin-counter-clockwise {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/******Work******/

.project {
    margin-bottom: 32px;
}

.project h2 {
    margin-top: 1rem;
}

.project img {
    border-radius: 2px;
}

@media screen and (min-width: 640px) {
    .project {
        margin-bottom: 80px;
    }
}

/******About******/

.about h2 {
    text-align: center;
}

/******Footer******/

footer {
    background: #34353C;
    padding: 80px 0;
    margin-top: 32px;
}

.contact-links {
    display: flex;
    justify-content: center;
}

.contact-links a {
    padding: 8px;
    margin: 0 16px;
}

.contact-links img {
    max-width: 32px;
    opacity: 0.72;
}

.contact-links a:hover img {
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

@media screen and (min-width: 640px) {
    footer {
        margin-top: 80px;
    }
}

/******Project Pages******/

.content-container {
    margin-top: 80px;
}

.content-container img {
    border-radius: 2px;
    margin-bottom: 32px;
}

@media screen and (min-width: 640px) {
    .content-container img {
        margin-bottom: 64px;
    }
}
